/* src/Pages/Page1.css */
.page1-container {
  background: url('assets\\love-background2.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.animated-text {
  font-size: 3.5rem;
  color: white;
  animation: fadeIn 3s ease-in-out;
}

.animated-heartfelt-message {
  color: white;
  font-size: 1.8rem;
  margin-top: 20px;
  animation: fadeIn 5s ease-in-out;
}

.floating-hearts {
  animation: floatHearts 10s infinite;
}

@keyframes fadeIn {
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes floatHearts {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.start-btn {
  background: rgb(105, 25, 38);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 5s ease-in-out;
}

.music-toggle {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(240, 230, 230, 0.829);
  border: none;
  font-size: 1rem;
  animation: fadeIn 5s ease-in-out;
}
